<div class="container d-flex">
    <div class="row">
      <div class="col"><p class="font-weight-bold text-center" appWhiteblack><strong>Violet</strong></p></div>
      <div class="col"><p class="font-weight-bold text-center" appWhiteblack><strong>Indigo</strong></p></div>
      <div class="w-100"></div>
      <div class="col"><p class="font-weight-bold text-center" appWhiteblack><strong>Green</strong></p></div>
      <div class="col"><p class="font-weight-bold text-center" appWhiteblack><strong>Yellow</strong></p></div>
      <div class="w-100"></div>
      <div class="col"><p class="font-weight-bold text-center" appWhiteblack><strong>Orange</strong></p></div>
      <div class="col"><p class="font-weight-bold text-center" appWhiteblack><strong>Red</strong></p></div>
    </div>
  </div>
