<div class="container navbar navbar-dark container-fluid" style="background-color: #000000;" >
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary" routerLinkActive="active" routerLink="timer">Timer</button> 
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-outline-secondary" routerLinkActive="active" routerLink="foreach">ForEach</button>
    </div>
    <div class="col-sm" >
      <button type="button" class="btn btn-outline-success" routerLinkActive="active" routerLink="custompipe">Custom Pipe</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-outline-danger" routerLinkActive="active" routerLink="searchfun">Search Function</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-outline-warning" routerLinkActive="active" routerLink="displaydata">Display Data</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-outline-info" routerLinkActive="active" routerLink="paginationarray">Pag Array</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-outline-light" routerLinkActive="active" routerLink="pagination">Pagination</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-outline-dark" routerLinkActive="active" routerLink="customdirective">CD</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-link" routerLinkActive="active" routerLink="parent">ParentChild</button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-link" routerLinkActive="active" routerLink="seo">SEO</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>












